@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.container{
  margin:140px;
display: flex;

  align-items: center;
justify-content: center;
}

.main-img{
align-items: center;

  width: 400px;
  height: 300px;

padding: 0;
}

.main-img img{
 
height: 300px;
justify-content: center;
text-align: center;

}

.main-text h1{
  color: #000;
  margin:0;
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}
.main-btn{
  float: right;
}
.main-btn button{

  
  width: 220px;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
background: #000;
color: white;
cursor: pointer;
font-size:15px;

}
button:hover{
  background-color: rgb(135, 49, 108);
}